.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    min-height: 70px;
    width: 150px;
    background-color: #236976;
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  }

  .nav__container__actions {
    display: inline-flex;
    flex-flow: row nowrap;
    padding-left: 50px;
    flex: 1;
  }

  .active {
    font-weight: bold;
  }